<form action='@Url.Action("EliminarTarea", "Home")' method="POST" enctype="multipart/form-data"> 
   
  <label>
    Título de la tarea que querés eliminar:
    <input type="text" name="titulo de la tarea a eliminar" required />
  </label>
  
  <input type="submit" value="Enviar" />
  </form>
  <br>