<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="header-inner">
            <img src="logo.png" id="logo_header">
          <nav>
            <ul>
              <li><a href="index.html">Inicio</a></li>
              <li><a href="productos.html">Productos</a></li>
              <li><a href="historia.html">Historia</a></li>
              <li><a href="contacto.html">Contacto</a></li>
            </ul>
          </nav>
        </div>
      </header>
    <main>
      
    </form>

    </main>
    <footer>
    
        </div>
    </footer>
</body>
</html>
@{
    @using (Html.BeginForm("PedirUsuario", "Home", FormMethod.Get))
  {
    <button type="submit">Registrar Usuario</button>
  }
  @using (Html.BeginForm("IniciarSesion", "Home", FormMethod.Get))
  {
    <button type="submit">Iniciar Sesion</button>
  }
}