@{
    @using (Html.BeginForm("PedirUsuario", "Home", FormMethod.Get))
  {
    <button type="submit">Registrar Usuario</button>
  }
  @using (Html.BeginForm("IniciarSesion", "Home", FormMethod.Get))
  {
    <button type="submit">Iniciar Sesion</button>
  }