<form action= '@Url.Action("CrearUsuario", "Home")' method = "POST" enctype = "multipart/form-data"> 
  mail: <input type = "text" name="mail" required/>
  contraseña: <input type = "password" name="contrasenia" required/>
  <input type="submit" name="Enviar"/>
</form>

